<div >
  <nav class="cyan darken-4">
    <div class="nav-wrapper cyan darken-4 container">
      <a routerLink="" class="brand-logo"><i class="material-icons left">home</i>MyApp</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down contact">
        <li><a routerLink="/contact"><i class="material-icons left">mail</i>Contact</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav contact" id="mobile-demo">
    <li class="sidenav-close"><a routerLink="/contact">Contact</a></li>
  </ul>
</div>

