<!-- <div class="container">
  <h1>Welcome!!!</h1>
</div> -->
<div class="parallax-container">
  <div class="parallax"><img src="https://cdn.vox-cdn.com/thumbor/HNSBQw5hpHgsod5TnpQqEb0MYl8=/0x0:1500x974/1200x800/filters:focal(630x367:870x607)/cdn.vox-cdn.com/uploads/chorus_image/image/53619333/2401_Third_Ave.0.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h1 class="header">Welcome</h1>
    <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perspiciatis nam pariatur! Eaque doloribus reprehenderit assumenda aspernatur alias officia, asperiores est, laborum quo minus, dicta suscipit aperiam? Tempora, molestiae et?</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="https://cdn.vox-cdn.com/thumbor/kIGhYK0UeJhE4qbjQGNpMlnfvAs=/0x0:1200x984/1200x800/filters:focal(504x396:696x588)/cdn.vox-cdn.com/uploads/chorus_image/image/59397925/M29_EAD_0474F_2_.0.jpg"></div>
</div>